:root {
  --light: rgb(255, 255, 228);
  --dark: rgb(15, 15, 15);
  --navyblue: rgb(0, 0, 128);
  --cornflowerblue: rgb(100, 149, 237);
  --skyblue: rgb(135, 206, 235);
  --xxsm-board-width: 270px;
  --xsm-board-width: 306px;
  --sm-board-width: 342px;
  --md-board-width: 396px;
  --lg-board-width: 441px;
  --xxsm-pause-width: calc(var(--xxsm-board-width) * 0.8);
  --xsm-pause-width: calc(var(--xsm-board-width) * 0.8);
  --sm-pause-width: calc(var(--sm-board-width) * 0.8);
  --md-pause-width: calc(var(--md-board-width) * 0.8);
  --lg-pause-width: calc(var(--lg-board-width) * 0.8);
  --xxsm-tile-size: 30px;
  --xsm-tile-size: 34px;
  --sm-tile-size: 38px;
  --md-tile-size: 44px;
  --lg-tile-size: 49px;
  --xxsm-numpad-size: calc(var(--xxsm-tile-size) - 2px);
  --xsm-numpad-size: calc(var(--xsm-tile-size) - 2px);
  --sm-numpad-size: calc(var(--sm-tile-size) - 2px);
  --md-numpad-size: calc(var(--md-tile-size) - 2px);
  --lg-numpad-size: calc(var(--lg-tile-size) - 2px);
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.sudoku-container {
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  place-items: center;
  flex-direction: column;
  background-color: var(--dark);
}

.stopped-timer-bg {
  filter: blur(0.25rem);
  opacity: 0.7;
  pointer-events: none;
}

.pause-container {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: var(--xxsm-pause-width);
  height: 45%;
  background-color: var(--light);
  border-radius: 7px;
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
}

.pause-title {
  position: absolute;
  top: 10%;
  left: 50%;
  translate: -50% -10%;
  color: black;
  font-weight: bold;
}

.pause-timer-container {
  position: absolute;
  top: 40%;
  left: 20%;
  translate: -20% -40%;
}

.pause-time-text {
  color: gray;
}

.pause-timer {
  color: black;
  font-weight: 500;
  text-align: center;
}

.pause-difficulty-container {
  position: absolute;
  top: 40%;
  left: 80%;
  translate: -80% -40%;
}

.pause-difficulty-text {
  color: gray;
}

.pause-difficulty {
  color: black;
  font-weight: 500;
  text-align: center;
}

.resume-btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  translate: -50% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

.title-timer-container {
  display: flex;
  width: var(--xxsm-board-width);
  height: 17vh;
  position: relative;
}

.title-text {
  color: #fff;
  font-size: 2rem;
  margin: auto;
}

.difficulty {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  font-size: 0.6rem;
}

.timer-resume-pause-container {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.timer {
  font-size: 0.65rem;
  margin: 0;
}

.rx-pointer {
  cursor: pointer;
}

.disabled {
  color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}

.board {
  width: var(--xxsm-board-width);
  animation: fadeIn 0.5s;
}

.block-border-tile:nth-of-type(3n) {
  border-bottom: 1px solid black;
}

.tile {
  width: var(--xxsm-tile-size);
  height: var(--xxsm-tile-size);
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  color: var(--navyblue);
  border: 1px solid lightgray;
  cursor: pointer;
  touch-action: none;
}

.tile.focus {
  animation: focusBlur 0.25s;
  animation-fill-mode: forwards;
}

.tile:nth-of-type(3n) {
  border-right: 1px solid black;
}

.init {
  color: var(--dark);
  background-color: var(--light);
}

.init:focus {
  animation: focusBlur 0.25s;
  animation-fill-mode: forwards;
}

.empty {
  background-color: white;
}

.empty:focus {
  animation: focusBlur 0.25s;
  animation-fill-mode: forwards;
}

.valid {
  background-color: lightgreen;
}

.valid:focus {
  background-color: rgb(0, 215, 0);
}

.invalid {
  background-color: #ff726f;
}

.invalid:focus {
  background-color: rgb(255, 102, 102);
}

.actions {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.actions .dropup .btn,
.actions .btn {
  color: var(--cornflowerblue);
}

.actions .dropup .btn:disabled,
.actions .btn:disabled {
  color: rgba(255, 255, 255, 0.3);
  border-color: #ffffff;
  pointer-events: none;
}

.btn {
  border: 1px solid var(--light);
  font-weight: bold;
  font-size: 0.75rem;
}

.dropup {
  position: relative;
}

.dropup-content {
  display: none;
  position: absolute;
  bottom: 50px;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  animation: fadeIn 0.375s;
}

.dropup-content button {
  color: black;
  padding: 12px 18px;
  background-color: #f1f1f1;
  border: 1px solid lightgrey;
  width: 100%;
  display: block;
}

.dropup-content button:focus {
  background-color: #ddd;
}

.dropup-content button.cancel {
  color: red;
}

.show-difficulty {
  display: block;
}

.numpad-container {
  width: var(--xxsm-board-width);
  display: flex;
  justify-content: space-between;
}

.numpad-container button:focus {
  opacity: 0.8;
}

.numpad-container button {
  width: var(--xxsm-numpad-size);
  height: var(--xxsm-numpad-size);
  text-align: center;
  font-weight: bold;
  border: 1px solid white;
  color: var(--skyblue);
  padding: 0;
  touch-action: none;
}

.numpad-container button:disabled {
  color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}

@media screen and (min-width: 320px) and (max-width: 360px) {
  .difficulty {
    font-size: 0.7rem;
  }

  .timer {
    font-size: 0.7rem;
  }

  .btn {
    font-size: 0.9rem;
  }

  .title-timer-container,
  .board,
  .numpad-container {
    width: var(--xsm-board-width);
  }

  .pause-container {
    width: var(--xsm-pause-width);
  }

  .tile {
    width: var(--xsm-tile-size);
    height: var(--xsm-tile-size);
  }

  .numpad-container button {
    width: var(--xsm-numpad-size);
    height: var(--xsm-numpad-size);
  }
}

@media screen and (min-width: 361px) and (max-width: 479px) {
  .difficulty {
    font-size: 0.75rem;
  }

  .timer {
    font-size: 0.75rem;
  }

  .btn {
    font-size: 1rem;
  }

  .title-timer-container,
  .board,
  .numpad-container {
    width: var(--sm-board-width);
  }

  .pause-container {
    width: var(--sm-pause-width);
  }

  .tile {
    width: var(--sm-tile-size);
    height: var(--sm-tile-size);
  }

  .numpad-container button {
    width: var(--sm-numpad-size);
    height: var(--sm-numpad-size);
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .title-text {
    font-size: 3rem;
  }

  .difficulty {
    font-size: 1rem;
  }

  .timer {
    font-size: 1rem;
  }

  .btn {
    font-size: 1.125rem;
  }

  .title-timer-container,
  .board,
  .numpad-container {
    width: var(--md-board-width);
  }

  .pause-container {
    width: var(--md-pause-width);
  }

  .tile {
    width: var(--md-tile-size);
    height: var(--md-tile-size);
  }

  .numpad-container button {
    width: var(--md-numpad-size);
    height: var(--md-numpad-size);
  }
}

@media screen and (min-width: 1025px) {
  .title-text {
    font-size: 3rem;
  }

  .difficulty {
    font-size: 1rem;
  }

  .timer {
    font-size: 1rem;
  }

  .btn {
    font-size: 1.25rem;
  }

  .title-timer-container,
  .board,
  .numpad-container {
    width: var(--lg-board-width);
  }

  .pause-container {
    width: var(--lg-pause-width);
  }

  .tile {
    width: var(--lg-tile-size);
    height: var(--lg-tile-size);
  }

  .numpad-container button {
    width: var(--lg-numpad-size);
    height: var(--lg-numpad-size);
  }
}

/* use hover effect for desktop */
@media (hover: hover) {
  .dropup:hover .dropup-content {
    display: block;
  }

  .dropup-content button:hover {
    background-color: #ddd;
  }

  .empty:hover {
    animation: focusBlur 0.25s;
    animation-fill-mode: forwards;
  }

  .numpad-container button:hover {
    opacity: 0.8;
    border-color: #ffffff;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes focusBlur {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
